@page "/ItemView"

@using Inventory.Model
@using Inventory.Pages
@using Inventory.Service
@inject ItemService ItemService
@inject NavigationManager NavigationManager

<h3>Items</h3>

<LabelValue Label="Total PnL" Value="@totalPnL" />

@if (items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>UPC</th>
                <th>Name</th>
                <th>Remaining Qty</th>
                <th>Cost Price</th>
                <th>Sale Price</th>
                <th>PnL</th>
                <th>Total PnL</th>
                <th>
                    <a @onclick="NavigateToAddItem">
                        <span class="oi oi-plus" aria-hidden="false" />
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in items)
            {
                <tr>
                    <td>@item.UPC</td>
                    <td>@item.Name</td>
                    <td>@item.RemainingQty</td>
                    <td>@item.CostPrice</td>
                    <td>@item.SalePrice</td>
                    <td>@item.Diff</td>
                    <td>@item.TotalDiff</td>
                    <td>
                        <a @onclick="async ()=> await EditItem(item)">
                            <span class="oi oi-eye" aria-hidden="false" />
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@if (!string.IsNullOrEmpty(_message))
{
    <p class="text-success" style="margin-top:25px"><em>@_message</em></p>
}
@code {
    private List<Items> items;
    private double totalPnL = 0;
    private string _message;

    protected override async Task OnInitializedAsync()
    {
        await GetItems();
    }

    private void NavigateToAddItem()
    {
        NavigationManager.NavigateTo("additemview");
    }

    private async Task DeleteItem(Items item)
    {
        var result = await ItemService.DeleteItem(item);
        _message = "Item deleted successfully!";
        await GetItems();
    }

    private async Task EditItem(Items item)
    {
        NavigationManager.NavigateTo($"/EditItemView/{item.UPC}");
    }

    private async Task GetItems() 
    { 
        items = await ItemService.GetAllItems();
        totalPnL = 0;
        foreach(var item in items){
            totalPnL += item.TotalDiff;
        }
    }
}
