@page "/TransactionView"

@using Inventory.Model
@using Inventory.Service
@inject TransactionService transactionService
@inject NavigationManager NavigationManager

<h3>Transactions</h3>

@if (transactions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Seller</th>
                <th>Trans Type</th>
                <th>Item</th>
                <th>Price</th>
                <th>Qty</th>
                <th>Total Price</th>
                <th>Remaining Qty</th>
                <th>
                    <a @onclick="NavigateToAddTransaction">
                        <span class="oi oi-plus" aria-hidden="false" />
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in transactions)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Date.ToShortDateString()</td>
                    <td>@item.SellerId</td>
                    <td>@item.Type.ToString()</td>
                    <td>@item.ItemId</td>
                    <td>@item.Price</td>
                    <td>@item.Qty</td>
                    <td>@item.TotalPrice</td>
                    <td>@item.RemainingQty</td>
                    <td>
                        <a >
                            <span class="oi oi-eye" aria-hidden="false" />
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Transaction> transactions;

    protected override async Task OnInitializedAsync()
    {
        transactions = await transactionService.GetTransaction();
    }

    protected async Task NavigateToAddTransaction()
    {
        NavigationManager.NavigateTo("addtransactionview");
    }
}
